/*
 * Layaout to desktop
 */
.row {
	display: flex;
	width: 100%;
}

.col {
	margin: 0 16px;
}

.col-header-1 {
 	width: 70%;
 	margin: 10px;
}

.col-header-2 {
	width: 30%;
 	margin: 10px;
}

.col-content-1 {
 	width: 40%;
 	margin: 10px;
}

.col-content-2 {
 	width: 30%;
 	margin: 10px;
}

.col-content-3 {
 	width: 30%;
 	margin: 10px;
}
/*
 * Main image
 */
.main-image {
	height: 340px; 
	/*width: 990px;*/
}

/*
 * Navigation
 */
.nav-top {
	float: right;
	margin-top: 20px; 
}

nav li {
 	display: inline;
}

nav li a {
	text-align: center;
	border-right: 0.5px solid black;
	padding: 5px;
}
nav li a:hover:not(.active) {
    background-color: #111;
    color: white;
}
.tab-active {
	color: white;
	text-decoration: none;
	background-color: #111;
}



/* 
 *	Mobile
 */

@media screen and (max-width: 720px){
.row {
	display: block;
	width: 100%;
}

.col {
	margin: 0 16px;
}

.col-header-1 {
 	width: 100%;
 	margin: 10px;
}

.col-header-2 {
	width: 100%;
 	margin: 10px;
}

.col-content-1 {
 	width: 100%;
 	margin: 10px;
}

.col-content-2 {
 	width: 100%;
 	margin: 10px;
}

.col-content-3 {
 	width: 100%;
 	margin: 10px;
}

.main-image {
	height: 220px; 
	width: 440px;
}
.nav-top {
	margin-top: 5px; 
}

 nav li {
 	display: block;
}
nav li a {
	border-right: none;
}
.botton-nav {
	display: none;
}
.col-main {
	width: 100%;
}

}