/*
 * General css
 */

/*
 * Body, html
 * Format
 */ 
body, html {
	height: 100%;
  	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden; 
	font-family: sans-serif;
	color: #848484;
}

/*
 * Container - wrap all page
 */ 
.container {
	padding: 0 16px;
}

/*
 * Navigation
 */ 

nav ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 10px;
}
/*
 * Titles
 */
.title-main-section {
	color: black;
}

.title-sub-section {
	color: #0080FF;
}
.title-sub-sub-section {
	color: #01DF01;
}

.title-sub-sub-sub-section {
	color: #FE2E2E;
}
img {
	width: 100%;
}


