body, html {
	width: 100%;
	overflow-x: hidden; 
	font-family: sans-serif;
	color: #848484;
}

.container {
	max-width: 1024px;
}
.row {
	display: flex;
	width: 100%;
}

.col-6 {
	width: 50%;
}

.col-4 {
	width: 33.33%;
}