/*
 * General css
 */

/*
 * Body, html
 * Format
 */ 
body, html {
	height: 100%;
  	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden; 
	font-family: sans-serif;
	color: #848484;
}

/*
 * Container - wrap all page
 */ 
.container {
	padding: 0 16px;
	min-height: 100%;
}

/*
 * Navigation
 */ 

nav ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 10px;
}
/*
 * Titles
 */
.title-main-section {
	color: black;
}

.title-sub-section {
	color: #0080FF;
}
.title-sub-sub-section {
	color: #01DF01;
}

.title-sub-sub-sub-section {
	color: #FE2E2E;
}
/*
 * Box content (box model)
 */
 .box-content {
 	background: yellow;
 	border: 3px solid black;
 	padding: 5px;
 	margin: 1px;
 }

 .box-content:hover{
  color: #424242; 
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0.9;
  transform: scale(1.15);
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}
/*
 * General images
 */

img {
	width: 100%;
}

img:hover{
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 0.9;
  transform: scale(1.15);
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}



/*
 * Decorate text
 */
.text-red {
	color: #FE2E2E;
}

.link {
	color: #0080FF;
}
.unassigned-link {

}

.web-link {
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: overline;
}



/*
 * Footer
 */
 
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background-color: #efefef;
	text-align: center;
}


